<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Edouard Proust" />
        <title>{{ sitename }}: {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="../static/img/favicon.png" />
        <!-- Styles -->
        <link type="text/css" href="../static/css/argon-design-system.css" rel="stylesheet">
        <link href="../static/css/custom.css" rel="stylesheet" />
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    </head>
    <body id="page-top">

        {% block main %}{% endblock %}
        
        <!-- Footer-->
        <footer class="footer">
            <div class="container">
                {% if photos_paths and photos_paths|length %}
                    <hr>
                {% endif %}
                <div class="d-flex align-items-center justify-content-between">
                    <div class="copyright">
                        &copy; {{ today.strftime('%Y') }} <a href="{{ author.url }}" target="_blank">{{ author.name }}</a>.
                    </div>
                    <div class="col col-lg-6 d-flex justify-content-end">
                        <a target="_blank" href="{{ author.social.linkedin }}" rel="nofollow" class="btn btn-icon-only rounded-circle" data-toggle="tooltip" data-original-title="LinkedIn">
                            <span class="btn-inner--icon"><i class="fa-brands fa-linkedin"></i></span>
                        </a>
                        <a target="_blank" href="{{ author.social.github }}" rel="nofollow" class="btn btn-icon-only rounded-circle" data-toggle="tooltip" data-original-title="Github">
                            <span class="btn-inner--icon"><i class="fa-brands fa-github"></i></span>
                        </a>
                        <a target="_blank" href="{{ author.social.stackoverflow }}" rel="nofollow" class="btn btn-icon-only rounded-circle" data-toggle="tooltip" data-original-title="StockOverflow">
                            <span class="btn-inner--icon"><i class="fa-brands fa-stack-overflow"></i></span>
                        </a>
                        <a href="mailto:{{ author.email }}" rel="nofollow" class="btn btn-icon-only rounded-circle" data-toggle="tooltip" data-original-title="Email">
                            <span class="btn-inner--icon"><i class="fa-solid fa-envelope"></i></span>
                        </a>
                    </div>
                </div>
                </div>
        </footer>
        
        <!-- Scripts -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/argon-design-system.min.js"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="../static/js/custom.js"></script>
    </body>
</html>
