{% extends 'layouts/no-title.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="section section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <img src="../static/img/tinder-logo-white-sm.png" style="width: 200px;" class="img-fluid">
                <p class="lead text-white">Download <a href="https://tinder.com" target="_blank">Tinder</a> profile photos. 100% Free, no email asked.</p>
                <div class="btn-wrapper mt-5">
                  <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fa-regular fa-images"></i></span>
                    <span class="btn-inner--text">Get photos</span>
                  </a>
                </div>
                <div class="mt-5">
                  <small class="font-weight-bold mb-0 mr-2 text-white">Proudly coded by
                    <a href="{{ author.url }}" target="_blank">{{ author.name }}</a>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-gray" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
  </div>

{% endblock %}